@using OrderingSystemProject.Models.Kitchen
@model OrderingSystemProject.Models.Kitchen.KitchenViewModel

@{
	ViewData["Title"] = "Kitchen";
}

<h1>Orders List</h1>

@{
	Exception? ex = (Exception?)ViewData["Exception"];

	if(ex != null) // If an exception was passed display it
	{
		<div class="alert-danger">
			<a>An unexpected exception has occurred, please try again later</a>
			<a>@ex.Message</a> <!-- Show error message, for debug-->
		</div>
	}
}

<div>
	<a class="btn btn-primary" asp-action="Index" asp-controller="Kitchen">Refresh</a>
	<a class="btn btn-primary" asp-action="Done" asp-controller="Kitchen">Done Orders</a>
</div>
<div>Last Update: @Model.LastUpdate.ToString("HH:mm:ss")</div>

<div class="KitchenOrdersList">
	@{
		if (Model != null)
		{
			foreach (var order in Model.Orders) // Go throu list of orders
			{				
				<div class="KitchenDivMain">
					@{
						string order_color = "";

						switch (order.KitchenStatus) // Get css class with background color depending on order status
						{
							case OrderStatus.New:
								order_color = "KitchenTopGreen"; break;
							case OrderStatus.Preparing:
								order_color = order.TimeSinceOrder.Minutes > 10 ? "KitchenTopRed" : "KitchenTopYellow"; break;
							case OrderStatus.ReadyForPickup:
								order_color = "KitchenTopBlue"; break;
							case OrderStatus.Served:
							case OrderStatus.Completed:
								order_color = "KitchenTopGrey"; break;
						}
					}

					<div class="KitchenTopBase @order_color"> 
						<div class="KitchenOrderTop">
							<span class="KitchenOrderTableNumber">tbl @order.Table.TableNumber</span>
							<span class="KitchenOrderOrderTime">@order.OrderTime.ToString("HH:mm:ss")</span>
						</div>
						<div class="KitchenOrderTop">
							@{
								switch(order.KitchenStatus){
									case OrderStatus.New:
										<a class="KitchenOrderButton KitchenOrdrButtonTake" href="/Kitchen/TakeFullOrder/@order.OrderId">
											<span class="KitchenOrderButtonText">Take</span>
										</a>
										break;
									case OrderStatus.Preparing:
										<a class="KitchenOrderButton KitchenOrdrButtonFinish" href="/Kitchen/FinishFullOrder/@order.OrderId">
											<span class="KitchenOrderButtonText">Finish</span>
										</a>
										break;
									default:
										<span></span>
										break;
								}
							}
							<span class="KitchenOrderTimePassed">+@((DateTime.Now - order.OrderTime).ToString(@"hh\:mm\:ss"))</span>
						</div>
					</div>

					@{
						foreach (var item in order.Items) // Go throu list of order_itmes of current order
						{
							<partial name="~/Views/Kitchen/_OrderItem.cshtml" model="@new OrderItemVieModel(item, order)" />

							if(item != order.Items[order.Items.Count - 1]) // if this item is not the last, add item break;
							{
								<div class="KitchenOrderItemBreak"></div>
							}
						}
					}
				</div>
			}
		}
	}
</div>

<script>
	setTimeout(function () {
		window.location.reload(1);
	}, 5000);
</script>