@model OrderingSystemProject.Models.Kitchen.KitchenViewModel

@{
	ViewData["Title"] = "Kitchen";
}

<h1>Orders List</h1>

@{
	Exception? ex = (Exception?)ViewData["Exception"];

	if(ex != null) // If an exception was passed display it
	{
		<div class="alert-danger">
			<a>An unexpected exception has occurred, please try again later</a>
			<a>@ex.Message</a> <!-- Show error message, for debug only-->
		</div>
	}
}

<div>
	<a class="btn btn-primary" asp-action="Index" asp-controller="Kitchen">Refresh</a>
</div>
<div>Last Update: @Model.LastUpdate.ToString("hh:mm:ss")</div>

@{
	if(Model != null)
	{
		foreach(var order in Model.Orders)
		{
			<div class="KitchenDivMain">
				<div>tbl @order.TableId</div>
				<div>@order.OrderTime.ToString("hh:mm:ss")</div>
				<div>+@((DateTime.Now - order.OrderTime).ToString(@"hh\:mm\:ss"))</div>

				@{	
					foreach(var item in order.Items)
					{
						<div class="KitchenDiv">
							<a>@item.MenuItem.Name</a>
						</div>
					}
				}
			</div>
		}
	}
}