<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>@ViewData["Title"] - OrderingSystemProject</title>
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100..900;1,100..900&display=swap" rel="stylesheet">
    <link rel="stylesheet" href="~/lib/bootstrap/dist/css/bootstrap.min.css" />
    <link rel="stylesheet" href="~/css/site.css" asp-append-version="true" />
    <link rel="stylesheet" href="~/OrderingSystemProject.styles.css" asp-append-version="true" />
    <link runat="server" rel="icon" type="image/x-icon" href="~/favicon.ico">
    <link runat="server" rel="shortcut icon" type="image/x-icon" href="~/favicon.ico">
</head>
<body>
<header>
    <nav class="custom-navbar">
        <div class="navbar-container">
            <a class="ChapeauLogolink" asp-area="" asp-controller="Home" asp-action="Index">
                <img class="ChapeauLogo" src="~/css/images/chapau_logo.png" />
            </a>           

            <div class="navbar-links" id="navbarLinks">
                <ul class="navbar-menu">
                    @switch ((string?)ViewData["Title"]) // Change nav bar links depending on the page title
                    {
                        case "Kitchen": // Nav links for Kitchen
                        {
                            <li>Last Upadate: @TempData["LastUpdate"]</li>
                            <a class="" asp-controller="Kitchen" asp-action="Index">Refresh</a>
                            <li><a class="navbar-link" asp-area="" asp-controller="Kitchen" asp-action="Done">Completed Orders</a></li>
                            break;
                        }
                        case "Kitchen - Done Orders": // Nav links for Kitchen
                        {
                            <li>Last Upadate: @TempData["LastUpdate"]</li>
                            <a class="" asp-controller="Kitchen" asp-action="Done">Refresh</a>
                            <li><a class="navbar-link" asp-area="" asp-controller="Kitchen" asp-action="Index">Current Orders</a></li>
                            break;    
                        }     
                        case "Bar": // Nav links for Bar
                        {
                            <li>Last Upadate: @TempData["LastUpdate"]</li>
                            <a class="" asp-controller="Bar" asp-action="Index">Refresh</a>
                            <li><a class="navbar-link" asp-area="" asp-controller="Bar" asp-action="Done">Completed Orders</a></li>
                            break;
                        }
                        case "Bar - Done Orders": // Nav links for Bar
                        {
                            <li>Last Upadate: @TempData["LastUpdate"]</li>
                            <a class="" asp-controller="Bar" asp-action="Done">Refresh</a>
                            <li><a class="navbar-link" asp-area="" asp-controller="Bar" asp-action="Index">Current Orders</a></li>
                            break;    
                        }
                        case "Staff Management": // Nav links for Manager
                        {
                            <li><a class="navbar-link" asp-area="" asp-controller="Employees" asp-action="Index">Employees</a></li>
                            <li><a class="navbar-link" asp-area="" asp-controller="MenuItem" asp-action="Index">Menu Items</a></li>
                            <li><a class="navbar-link" asp-area="" asp-controller="FinancialOverview" asp-action="Index">Financial Overview</a></li>
                            break;
                        } 
                        case "Manage Menu Items": // Nav links for Manager
                        {
                            <li><a class="navbar-link" asp-area="" asp-controller="Employees" asp-action="Index">Employees</a></li>
                            <li><a class="navbar-link" asp-area="" asp-controller="MenuItem" asp-action="Index">Menu Items</a></li>
                            <li><a class="navbar-link" asp-area="" asp-controller="FinancialOverview" asp-action="Index">Financial Overview</a></li>
                            break;
                        } 
                        case "Financial Overview": // Nav links for Manager
                        {
                            <li><a class="navbar-link" asp-area="" asp-controller="Employees" asp-action="Index">Employees</a></li>
                            <li><a class="navbar-link" asp-area="" asp-controller="MenuItem" asp-action="Index">Menu Items</a></li>
                            <li><a class="navbar-link" asp-area="" asp-controller="FinancialOverview" asp-action="Index">Financial Overview</a></li>
                            break;
                        } 
                        default: // Deafault links
                        {
                            @* <li><a class="navbar-link" asp-area="" asp-controller="Home" asp-action="Index">Home</a></li>
                            <li><a class="navbar-link" asp-area="" asp-controller="Home" asp-action="Privacy">Privacy</a></li>
                            <li><a class="navbar-link" asp-area="" asp-controller="Payment" asp-action="Details" asp-route-id="1">Details</a></li>
                            <li><a class="navbar-link" asp-area="" asp-controller="MenuItem" asp-action="Index">Menu Items</a></li>
                            <li><a class="navbar-link" asp-area="" asp-controller="Waiter" asp-action="Index">Waiter</a></li>
                            <li><a class="navbar-link" asp-area="" asp-controller="Kitchen" asp-action="Index">Kitchen</a></li>
                            <li><a class="navbar-link" asp-area="" asp-controller="Employees" asp-action="Index">Employees</a></li>
                            <li><a class="navbar-link" asp-area="" asp-controller="FinancialOverview" asp-action="Index">Financial Overview</a></li> *@
                            break;
                        }
                    }                 

                    @if ((string?)ViewData["Title"] != "Login")
                    {
                        <li class="logout-container">
                            <a class="navbar-link" asp-area="" asp-controller="Employees" asp-action="Logout">Logout</a>
                        </li>
                    }
                </ul>
            </div>
        </div>
    </nav>
</header>
    <div class="container">
        <main role="main" class="pb-3">
            @RenderBody()
        </main>
    </div>

    <script src="~/lib/jquery/dist/jquery.min.js"></script>
    <script src="~/lib/bootstrap/dist/js/bootstrap.bundle.min.js"></script>
    <script src="~/js/site.js" asp-append-version="true"></script>
    @await RenderSectionAsync("Scripts", required: false)
</body>
</html>
