@model List<OrderingSystemProject.Models.Table>

@{
    ViewData["Title"] = "Restaurant Overview";
}

<h4 class="text-center mb-4">Restaurant Overview</h4>

<!-- Display error message -->
<partial name="_ErrorMessage" />

<!-- Display success message -->
<partial name="_SuccessMessage"/>

<!-- Refresh overview -->
<div class="mb-4">
    <a asp-controller="Restaurant" asp-action="RefreshOverview" class="btn btn-primary">Refresh Tables</a>
</div>

<div class="row row-cols-1 row-cols-md-5 g-4">
    @foreach (Table table in Model)
    {
        string cardColorClass;
        string statusText;
        
        if (table.Status == TableStatus.Available)
        {
            cardColorClass = "table-available";
            statusText = "Available";
        }
        else if (table.Status == TableStatus.Occupied)
        {
            cardColorClass = "table-occupied";
            statusText = "Occupied";
        }
        else
        {
            cardColorClass = "table-unknown";
            statusText = "Unknown";
        }

        <div class="col px-1"> 
            <div class="card m-1" style="width: 100%;">
                <div class="card-header text-center">Table @table.TableNumber</div>
                <div class="card-body bg-@cardColorClass text-white" style="height: 150px;">
                    <p class="card-text text-center">@statusText</p>
                    @if (table.ActiveOrder != null)
                    {
                        @if (table.FoodStatus != null)
                        {
                            string foodStatusText = "";
                            if ((int)table.FoodStatus == 0) foodStatusText = "New";
                            else if ((int)table.FoodStatus == 1) foodStatusText = "Preparing";  
                            else if ((int)table.FoodStatus == 2) foodStatusText = "Ready";
                            else if ((int)table.FoodStatus == 3) foodStatusText = "Served";
        
                            <div>Food: @foodStatusText</div>
                        }
                        @if (table.DrinkStatus != null)
                        {
                            string drinkStatusText = "";
                            if ((int)table.DrinkStatus == 0) drinkStatusText = "New";
                            else if ((int)table.DrinkStatus == 1) drinkStatusText = "Preparing";  
                            else if ((int)table.DrinkStatus == 2) drinkStatusText = "Ready";
                            else if ((int)table.DrinkStatus == 3) drinkStatusText = "Served";
        
                            <div>Drinks: @drinkStatusText</div>
                        }
                        <div>Time: @table.ActiveOrder.OrderTime.ToString("HH:mm")</div>
                    }
                    else
                    {
                        <div>No active order</div>
                    }
                    
                </div>
            </div>
        </div>
    }
</div>