@model Payment
@{
    var euroCulture = System.Globalization.CultureInfo.CreateSpecificCulture("nl-NL");
}
<partial name="_ErrorMessage" />
<partial name="_SuccessMessage" />
<h2>Thank you for your payment!</h2>

<p><strong>Paid:</strong>@Model.PaymentAmount.ToString("C", euroCulture) (Tip: @Model.TipAmount.ToString("C",euroCulture))</p>
<p><strong>Method:</strong> @Model.PaymentType</p>

@if (!string.IsNullOrWhiteSpace(Model.Feedback))
{
    <p><strong>Your Feedback:</strong> @Model.Feedback</p>
}

<form asp-action="ConfirmAndCloseTheOrder" asp-controller="Payment" method="post">
    <input type="hidden" name="billId" value="@Model.Bill.BillId" />
    <button type="submit" class="btn btn-success">Close the order</button>
</form>