@model OrderingSystemProject.Models.Bill


<body class="bill_frame_bg">
<h2 class="bill_table">Bill</h2>

<h3 class="bill_table">Table @Model.Order.TableId</h3>

<h2>Order Bill</h2>

<partial name="_ErrorMessage" />

@{
    var euroCulture = (System.Globalization.CultureInfo)System.Globalization.CultureInfo.InvariantCulture.Clone();
    euroCulture.NumberFormat.CurrencySymbol = "€";
    euroCulture.NumberFormat.CurrencyDecimalSeparator = ".";
    euroCulture.NumberFormat.CurrencyGroupSeparator = ",";
}

@if (Model != null)
{
    <p><strong>Order ID:</strong> @Model.OrderId</p>
    <p><strong>Table:</strong> @Model.Order.TableId</p>
    <p><strong>Order Time:</strong> @Model.Order.OrderTime</p>
}
else
{
    <p class="text-danger">Order not found.</p>
}

<hr class="my-4"/>

@if (Model.Order.Items != null && Model.Order.Items.Count > 0)
{
    <table class="table-bill">
        <thead class="thead-bill">
        <tr>
            <th>Item Name</th>
            <th>Quantity</th>
            <th>Unit Price</th>
            <th>Comment</th>
            <th>Line Total</th>
            <th>VAT</th>
        </tr>
        </thead>
        <tbody>
        @foreach (var item in Model.Order.Items)
        {
            <tr>
                <td>@item.MenuItem.Name</td>
                <td>@item.Amount</td>
                <td>@item.MenuItem.Price.ToString("C", euroCulture)</td>
                <td>@item.Comment</td>
                <td>@item.LineTotal.ToString("C", euroCulture)</td>
                @if (item.MenuItem.Card == ItemCard.ALCOHOLIC_DRINKS)
                {
                    <td>21%</td>
                }
                else
                {
                    <td>9%</td>
                }
            </tr>
        }
        </tbody>
        <tfoot>
        <tr class="summary-row">
            <td colspan="5" class="right-align bold">Subtotal:</td>
            <td class="fw-bold">@Model.OrderSubtotal.ToString("C", euroCulture)</td>
        </tr>
        <tr class="summary-row">
            <td colspan="5" class="right-align bold">VAT:</td>
            <td class="fw-bold">@Model.Vat.ToString("C", euroCulture)</td>
        </tr>
        <tr class="summary-row">
            <td colspan="5" class="right-align bold">Total:</td>
            <td class="fw-bold">@Model.OrderTotal.ToString("C", euroCulture)</td>
        </tr>
        </tfoot>
    </table>
    <button class="button-pay" role="button"><a href="/Payment/Pay">Pay</a></button>
}
else
{
    <p>No items in this order.</p>
}
</body>